.family{
  display: grid;
  /* justify-content: center;
  align-items: center; */
}

.avatar-card{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
}

.mantine-Card-root{
  width: 100%;
}

.card-container{
  display: flex;
  gap: 5px;
}